body {
	margin-left: 10%;
	margin-right: 10%;
	background-image: url("images/background.gif");
}

.main{
	background-color: white;
	border: 5px white solid;
    overflow: hidden;
}

.header{
	background-color: #A8F0F0;
	text-align-last: right;
}

.description{
	font-size: 10pt
}

.image{
	float: right;
}

.content{
	margin-top: 10px;
	margin-left: 0px;
	background-color: #E8FBFB;
	border: 4px #C2E9E9 solid;
	padding: 5px;
    clear: right;
    overflow: hidden;
}

h2 span{
	border-bottom: 2px blue dashed;
}

.friends{
	float: left;
	width: 15%;
}

.contentParent{
	float: right;
	width: 85%;
}